.footer {
  background-color: #f5f5f5;
}

.footer-top,
.footer-bottom {
  padding: 24px 15px;
}

.footer-top {
}

.footer-bottom {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.footer-bottom-list {
  display: flex;
  justify-content: space-evenly;
}

.footer-bottom-item a {
  color: #999999;
}
.footer-bottom-item a:hover {
  text-decoration: underline;
}

.footer-copyright {
  display: block;
  text-align: center;
}