.form {
  margin: 0 auto;
  max-width: 620px;
  box-sizing: border-box;
}

.form-error {
  text-align: center;
  color: red;
}

.form-item {
  margin: 0 0 24px;
}

.form-item-label {
  padding: 0 0 8px;
}

.form-item-control {
  line-height: 1.75;
}

.form-item-input {
  padding: 4px 11px;
  width: 100%;
  min-height: 40px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  box-sizing: border-box;
  transition: border-color 0.3s ease, box-shadow .3s ease;
}
.form-item-input:focus {
  border-color: #40a9ff;
  box-shadow: 0 0 0 2px #1890ff33;
  outline: 0;
}

.form-item-input-textarea {
  resize: none;
}

.form-item-input-file {
  display: none;
}

.form-item-input-readonly {
  border: none;
  border-bottom: 1px solid #d9d9d9;
  background-color: #f5f5f5;
}

.form-helper-text {
  margin: 10px 0 0 0;
  font-size: .8rem;
  color: #888;
}


.form-fieldset {
  margin: 0;
  padding: 0;
  border: none;
}
.form-fieldset:not(:last-of-type) {
  margin-bottom: 48px;
}

.form-fieldset-legend {
  margin-bottom: 12px;
  font-size: 1.4rem;
  font-weight: bold;
}


/** 検索フォーム用のデザイン */
.search-container {
  display: flex;
}