.hamburger {
  position: relative;
  width: 30px;
  height: 25px;
  cursor: pointer;
  z-index: 9999;
}

.hamburger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.hamburger span:nth-child(1) {
  top: 0;
}
.hamburger span:nth-child(2) {
  top: 11px;
}
.hamburger span:nth-child(3) {
  bottom: 0;
}

.hamburger-menu {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1rem;
  width: 50%;
  max-width: 620px;
  height: 100vh;
  background-color: white;
  box-shadow: 5px 0 3px rgba(0, 0, 0, 0.1);
  transform: translateX(-150%);
  z-index: 2000;
}

.hamburger-menu > div:not(:last-child) {
  margin-bottom: 1rem;
}

/** オープン時の動き */
.is-open .hamburger span:nth-child(1) {
  transform: rotate(45deg) translate(7px, 7px);
}

.is-open .hamburger span:nth-child(2) {
  opacity: 0;
}

.is-open .hamburger span:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -8px);
}

.is-open .hamburger-menu {
  transition: transform 0.3s ease;
  transform: translateX(0);
}
