.main {
  padding: 0 15px;
  max-width: 1024px;
  margin: 121px auto 40px auto; /** margin-topはヘッダーの高さ+1px以上必要 */
}

/** ↓変える */
.main section {
  margin: 0 0 35px 0;
}

.section-title {
  margin: 0 0 1rem 0;
}

section .button-rounded {
  margin: 20px auto 0 auto;
}

/** ↑ */
