.product {
  display: flex;
}

.product-image-wrap {
  width: 60%;
  margin-right: auto;
}


/** slickのデザイン */
.slider-container{
  margin:0 auto 0 50px;
}
.slick-prev,.slick-next{z-index:2;}
.slick-prev{left:0!important;}
.slick-next{right:0!important;}
.slick-arrow::before {
  color: red !important;
}
#thumbs .slick-current > div{
  border:2px solid #000;
}
.slick-slide{
padding:5px;
}

.product-image-wrap #slider img {
  display: block;
  margin: 0 auto;
  width: 400px;
  height: 400px;
  object-fit: contain;
}

.product-image-wrap #thumbs img {
  width: 100px !important;
  height: 100px !important;
  object-fit: contain;
}


.product-body {
  width: 35%;
}

.product-name {
  font-size: 24px;
}

.product-headline {
  font-size: 20px;
  color: #666;
}

.product-price {
  margin: 0 0 1rem 0;
}
.product-price span {
  font-size: 24px;
  color: #e32b36;
}

.product-option {
  margin-bottom: 1.4rem;
}

.product-transaction {
  margin-bottom: 1.4rem;
}

.product-description-container {}

.product-description {}