@import url("./common.css");

@import url("./button.css");
@import url("./card.css");
@import url("./footer.css");
@import url("./form.css");
@import url("./hamburger.css");
@import url("./header.css");
@import url("./main.css");

.hero-image-container {
  margin-bottom: 40px;
}

/* ↓全てTODO: 修正 */
.grid-wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
}

.grid {
}

.grid-image {
  display: block;
  margin: 0 auto;
  width: 50px;
  height: 50px;
}

.t-center {
  display: block !important;
  text-align: center;
}